body {
    font-family: "Roboto", "Raylway", "Verdana", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    font-weight: regular;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 2%;
}

.logo-link {
    color: #2E2F42;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.166;
     letter-spacing: 3%;
    text-align: left;
}

.logo {
    color: #4D5AE5;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.166;
    letter-spacing: 3%;
    text-align: left;
}

h1 {
    color: #FFFFFF;
    font-size: 56px;
    font-weight: bold;
    line-height: 1.071;
    text-align: center;
}

h2 {
    color: #2E2F42;
    font-size: 36px;
    font-weight: bold;
    line-height: 1.111;
    text-align: center;
}

h3 {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
}

.link {
    font-style: normal;
    text-decoration: none;
    color: #434455;
}

.link:hover {
    color: #404BBF;
}

.link:active {
    text-decoration: underline;
}

.nav-list {
    font-weight: 500;
}

button {
    cursor: pointer;
    background: #4D5AE5;
}

button:hover {
    background:#404BBF;
}

.button-text {
    font-weight: 500;
    letter-spacing: 4%;
    text-align: left;
    color: #FFFFFF;
}

